body{
	background: violet;
	padding: 0;
	margin:0;
}
.bg_clock{
	
	height: 100vh;
}
.clock{
	font-size: 30px;
}

.label-modal{
	display: inline-block;
	width: 100%;


}
.modal-header{
	display: inline-block;
	width: 50%;
	border: none;
	text-align: left;
}
#myModal{
	width: 100%;
}